html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    
}

.background {
    max-width: 100%;
    max-height: 200vh;
    margin: auto;
    position: relative;
}

.linkek {
    color: white;
    display: block;
    position: absolute;
    display: flex;
    bottom: 66px;
    left: 66px;    
    font-size: 5vw;
    font-size: 5vh;
    text-decoration: none;
}

.buttons {
    position: absolute;
    display: flex;
    top: 55px;
}

.input {
    position: absolute;
    display: flex;
    top: 44px;
}