body {
    background: rgb(167,233,184);
    background: linear-gradient(90deg, rgba(167,233,184,1) 4%, rgba(139,210,131,1) 63%, rgba(82,230,120,1) 100%);
    margin:0;
    padding:0;
    min-width: 1100px;
}
#mainbox {
    width: 800px;
    height: 400px;
    position: fixed;
    left: 25%;
    top: 25%;
    display: flex;
    border: 1px solid black;
    margin: 0;
    min-width: 800px;
    object-fit: contain;

}
#mainviewer {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: flex;
    object-fit: contain;
    
}
#mainimg {
    max-height: 100%;
    max-width: 100%;

    
}

.arrows {
    width: 70px;
    height: 100%;
    background: rgb(253,254,249);
    background: linear-gradient(90deg, rgba(253,254,249,1) 4%, rgba(214,222,214,1) 82%, rgba(202,205,203,1) 100%);   
    display: flex;
    
}
 

#rightarrowbox { 
    transform: rotate(180deg);
}



